In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:

#ODEV2 Kaggle'dan Titanic: Machine Learning from Disaster isimli yarışmanın train.csv isimli dosyasını indirin 
#groupby() ile yolcuların ortalama yaşlarını herbir cinsiyet için ayrı olacak şekilde hesaplayın.


train = pd.read_csv('./train.csv',index_col=0)
train
train.groupby(by='Sex').mean()['Age']

Sex
female    27.915709
male      30.726645
Name: Age, dtype: float64

In [3]:
#odev3 30 yaşından küçük tüm yolcuların kurtulma oranını (survival ratio) hesaplayın. 
#Daha sonra, kurtulma oranını cinsiyete göre ayrı ayrı hesaplayın.



kucuk30yas = train[train['Age'] < 30]
kucuk30yas


survivors = kucuk30yas.loc[lambda df: kucuk30yas['Survived'] == 1, :]


sag_kalma_oranı = len(survivors) / len(train)*100

sag_kalma_oranı

17.50841750841751

In [4]:
#odev3 #Daha sonra, kurtulma oranını cinsiyete göre ayrı ayrı hesaplayın.


survivors.groupby(by='Sex').count()['Survived'] / kucuk30yas.groupby(by='Sex').count()['Survived']*100

Sex
female    71.428571
male      21.518987
Name: Survived, dtype: float64

In [5]:

#ODEV1 Endeksi alfabenin ilk 10 harfi olan ve ilk 10 asal sayıyı ve 
#ilk 10 fibonacci sayısını içeren bir veri çerçevesi oluşturun.

In [6]:

#harfleri  ve indexi olusturma

import string
string.ascii_lowercase

harfler = list(string.ascii_lowercase[:10])

table = pd.DataFrame(index = harfler)

table.index.name = 'Harfler'


#asal sayıları olusturma  ve tabloya aktarma


primes = [1,2]

control = 3

for i in range(20):
    for n in range(2,control):
        if control % n ==0:
            break
            
        else:
            primes.append(control)
            break
    control += 1
    if len(primes) == 10:
        break
            
Asals = pd.DataFrame(primes)

Asals

table['Asal'] = primes


 
    
#Fibonacci sayıları olusturma  ve tabloya aktarma

a = 1
b = 2

fibo = [a,b]
while b < 70:
    a, b = b, a+b
    fibo.append(b)
    if len(fibo) == 10:
        break

Fibo = pd.DataFrame(fibo)

Fibo

table['Fibonacci'] = fibo
table

         Asal  Fibonacci
Harfler
a           1          1
b           2          2
c           3          3
d           5          5
e           7          8
f           9         13
g          11         21
h          13         34
i          15         55
j          17         89

In [12]:
primes = [1,2]

control = 3

for i in range(20):
    for n in range(2,control):
        if control % n ==0:
            break
            
        else:
            primes.append(control)
            break
    control +=1
     
    if len(primes) == 10:
        break
primes

[1, 2, 3, 5, 7, 9, 11, 13, 15, 17]